html,
body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

/* body {
  position: relative;
} */

.nav-div {
  height: 10vh;
}

.main-home {
  height: 80vh;
  /* overflow-x: hidden; */
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

/* .container div {
  padding: 2%;
} */

.cont-title {
  padding-left: 10% !important;
  width: 55%;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Inconsolata', monospace;
}

.name {
  font-family: 'Nunito', sans-serif;
  color: #b3a0d9;
}

.cont-image {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  /* align-items: center; */
}

.hi-text {
  font-size: 60px;
}

.divider {
  background-color: #CABBE9;
  height: 5%;
  padding: 0%;
  border-radius: 15px;
  width: 70%;
}

.presnt-text {
  /* margin-top: 2%; */
  font-size: 30px;
  background-color: #E9E8E8;
  padding: 2%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.web-dev {
  font-size: 90px;
  font-family: 'Bebas Neue', cursive;
}

.self-img {
  width: 350px;
  height: 350px;
  background-color: #c1c1c1;
  border-radius: 50%;

}

/* #E9E8E8 */

.frosted-glass {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  backdrop-filter: blur(5px);
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.div-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  /* overflow: hidden; */
  /* set a z-index to ensure the navbar stays on top of other elements */
}


.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  /* background-color: #CABBE9; */
  width: 30%;
  /* padding: 10px; */
  border-radius: 5px;
  /* margin-right: 20px; */
  /* box-shadow: 1px 3px 12px 0px rgba(130,130,130,0.75);
  -webkit-box-shadow: 1px 3px 12px 0px rgba(130,130,130,0.75);
  -moz-box-shadow: 1px 3px 12px 0px rgba(130,130,130,0.75);
  backdrop-filter: blur(2px); */
}

.nav-menu a {
  text-decoration: none;
  color: black;
  border-radius: 15px;

}

.nav-menu li {

  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  transition: all 0.4s linear;
  backdrop-filter: blur(15px) !important;
  padding: 15px;
  border-radius: 15px;
  white-space: nowrap;
  /* background-color: #ffffff; */
}



.nav-menu li:hover {
  /* padding: 15px; */

  box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 0.75);
  backdrop-filter: blur(10px);
  /* font-weight: 700 !important; */
  background-color: #ffffff;
}

.active-shadow {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 0.75);
  backdrop-filter: blur(10px);
  font-weight: 700 !important;

}

.secnd-cont {
  padding: auto;
  font-size: 20px;
  padding: 2%;
  margin-top: 2%;
  border: 2px solid #d0c5e4;
  color: #3e2e5d;
  border-radius: 10px;
}



.btn-contact-me {
  font-size: 30px;
  padding: 1%;
  /* margin-left: 1%; */
  border-radius: 10px;
  /* border-width: 0px; */
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  background-color: #d0c5e4;
  color: #28264f;
  ;
  text-transform: uppercase;
  margin-top: 2%;
  border: 2px solid #9590e1;
  margin-right: 0px;

}

/* /////// Skills Styles */

.skill-mask {
  width: 5%;
  height: 5%;
}

.skill-mask img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.resume-btn {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin: 20px;
  padding: 10px;
  /* background-color: #a6a2de; */
  border: 2px solid #9590e1;
  color: #533f7c;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  border-radius: 15px;
  /* font-family: 'Nunito', sans-serif; */
  /* text-transform: uppercase; */
  backdrop-filter: blur(10px);
  transition: all 0.5s;
}


.resume-btn:hover {
  background-color: #c7b8e4;
  cursor: pointer;
  transform: scale(1.03);
}

.contact-cont {
  display: flex;
}
.contact-link a {

  text-decoration: none;
}

.contact-link {
  padding: 10px;
  /* background-color: #c7b8e4; */
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #c7b8e4;
  cursor: pointer;
  color: #432e6d;
  transition: all 0.3s;
  text-decoration: none;
}

.contact-link:hover {
  padding: 10px;
  background-color: #c7b8e4;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #9f89cc;
  cursor: pointer;
  color: #432e6d;
  transform: scale(1.03);
}

footer{
 
}

.footer-txt{ height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c7b8e4;
}

@media (max-width: 900px) {

  .hi-text {
    font-size: 50px;
  }
  
  .web-dev {
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
  }

  .presnt-text{
    font-size: 30px;}

  .container {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px !important;
  }

  .cont-title {
  padding: 0% !important;
    width: 100%;

  }

  .cont-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0% !important;
    margin-top: 5%;
    /* align-items: center; */
  }
  

}